@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto" !important;
    background-color:#FBF8F5;
    max-width: 1250px;
    margin: 0 auto;
}
header{
    
    padding: 20px;     
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    background-color: rgba(56, 207, 18, 0.541);
    font-size:20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(21, 150, 27), 0 0 1em rgb(35, 121, 53);
   
}
header nav{
    display: flex;
    gap: 80px;
    padding: 0px 20px;
   

}
.smol{
    display: flex;
    gap: 80px;
    padding: 0px 20px
}
header a{
    color: rgb(24, 18, 15);
    text-decoration: none;
  

}
 
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;   
}
 
/*Задаём параметры блока, содержащего основное меню*/
header menu {
    display:block;
    position:absolute;
    top:400px;
    left:50px; 
            
}
 
/*Задаём стили для разделов нашего меню*/
#menu > li {
    display:inline-block;
    height:20px;
    position:relative;
    
    
  
}
 
/*Стили для скрытого выпадающего меню*/
#menu > li > ul {
    position:absolute;
    top:20px;
    display:none;
    background-color: rgb(56, 207, 18);
    padding: 10px 20px;   
}
 
/*Делаем скрытую часть видимой*/
#menu > li:hover > ul {
    display:block;  
}

header a:hover{
    color: #E9672B;
}


.whatsapp {
    width: 250px;
    font-size: 18px;
    border-radius: 88px;
    padding: 16px 12px;
    background: #E9672B;
    border: 2px solid #E9672B;
    margin-top: 12px;
}     
.whatsapp a{
    color: rgb(24, 18, 15);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
   
  
}

.whatsapp:hover {
    cursor: pointer;
    background: white;
}
.companiy img{
    max-width: 1250px;

}
.about-site{
    box-sizing: border-box;
    padding: 15px 9px 12px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;

}
.about-site img{
    width: 513px;
    height: 457px;
    object-fit: cover;
}

h1{
    text-align: center;
    font-size: 54px;
    line-height: 76px;
    background-color:#faac37ab ;
    text-shadow: 1px 1px 2px rgb(1, 228, 12) ;/*тени у букв*/
   
}

p{
    font-size: 18px;
    line-height: 28px;
}
.about-site p{
    margin: 18px 0px 46px;
    
}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 54px;
    text-shadow: 1px 1px 2px rgb(1, 228, 12) ;/*тени у букв*/   
}
.gallery{
    width: 85%;   
    margin: 20px;
    padding: 0px 100px;
  
}  

.big-photos{
    width: 100%;
    height: 700px;
    position: relative;
   
}
.big-photos>img{
    display: block;
    width: 100%;
    
}
button{
    all: unset;
}
.big-photos button{
  border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    background: #fffa;
    border-radius: 50%;
    text-align: center;

}
.arrow-left{
    left: 20px;
}
.arrow-right{
    right: 20px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 450px);
    gap: 2px;

 
    
}
.car-item{
    position: relative;
    overflow: hidden;
    box-shadow: 5px 20px 30px rgba(20, 10, 50, 0.2);
    border-radius: 15px;

}
.car-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;

}
.car-desc{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.276), rgba(0, 0, 0, 0.927));
    color: white;
    font-variant-caps:small-caps;
    top: 100%;
    transition: 2s;

}
.car h3{
    font-size: 32px;
    margin: 20px 0px;
}
.car-item:hover .car-desc{
    top: 0%;

}
footer {
    padding: 82px 80px 208px;
    display: flex;
    gap: 80px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-link h3,
.footer-social h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1.28px;
}
.footer-link a {
    line-height: 24px;
    text-decoration: none;
    color: black;
}

.footer-link a:hover {
    color: #E9672B;
    cursor: pointer;
}

.footer-social{
    position: absolute;
    right:  300px;
}
.footer-social__links {
   
    display: flex;
    gap: 16px;
    margin-bottom: 54px;
}

.footer-social__links a {
    border: 2px solid black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.footer-social__links a:hover {
    background-color: #E9672B;
}

.footer-social__links a:hover img {
    filter: invert(1);
}

.footer-social__line {
    width: 300px;
    border: 1px solid black;
    margin-top: 60px;
    
}





@media screen and (max-width: 1224px) {
    h1 {
        font-size: 48px;
        line-height: 54px;
    }
}

@media screen and (max-width: 992px) {
    .about-site img {
       
        display: none;
    }

    .about-site div {
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: unset;
        padding-top: 20px;
        gap: 10px;
    }

    header h2 {
        order: -1;
    }

    .car {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: calc(2, 42fr);
    }
    .footer-link{
        display: none;
    }
}



@media screen and (max-width: 576px) {
    

    header {
        padding: 0px 24px;
    }

    header nav {
        gap: 0px;
        justify-content: space-around !important;
        width: 100%;
    }

    .smol{
        display: none;
    }

     .companiy{
        display: none;
     }
     .gallery{
        display: none;
     }

     .car {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: calc(9, 450px);
       
    }

    footer{
        padding: 82px 24px 2px;
    }

    .footer-link{
        display: none;
    }
    .footer-social{
        position: absolute;
        left: 50px;
        right: 50px;
        
    }

   
}
